@use "./variables/global";
@use "./normalize";
@use "./themes/dark";
@use "./themes/light";

.app {
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
    width: 100%;
    min-height: 100vh;
}