.loginForm {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 125px;
}

input {
    margin-top: 15px;
}

.button {
    max-width: 85px;
    border-radius: 5px;
    height: 25px;
    margin-top: 15px;
    margin-left: auto;
}