.sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg);
    transition: width 0.3s;
}
.collapsed {
    width: var(--sidebar-collapsed);    
}

.switchersWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    margin-left: 15px;
}

.switchLang {
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.switchTheme {

}