.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    width: 300px;
    background-color: var(--inverted-bg);
    transition: width 0.4s;
}

.switchersWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    margin-left: 15px;
}

.switchLang {
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.collapseBtn {
    border: none;
    background-color: var(--inverted-color);
    width: 20px;
    padding: 3px;
    border-radius: 5px;
}

.links {
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-collapsed);
}