
.navbar {
    display: flex;
    width: 100%;
    background-color: var(--inverted-bg);
    color: var(--inverted-color);
    align-items: center;
    height: var(--navbar-height);
    padding: 20px;
    box-sizing: border-box;
}

.links {
    margin-left: auto;
}

.navLink {
    font-weight: 700;
}

.navLink:nth-child(1) {
    margin-right: 15px;
}
