
.navbar {
    display: flex;
    width: 100%;
    background-color: var(--inverted-bg);
    color: var(--inverted-color);
    align-items: center;
    height: var(--navbar-height);
    padding: 20px;
    box-sizing: border-box;
}

.button {
    border-radius: 5px;
    padding: 5px;
}

.button:hover {
    opacity: 0.7;
}