.title {
    font: var(--font-title-m);
    color: var(--modal-c);
    margin: 0;
}

.error {
    color: var(--red-light);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.medium {
    font-size: var(--font-title-m);
}

.large {
    font-size: var(--font-title-l);
}